.title {
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
}

.logo{
    width: 60px;
    height: 50px;
    margin-left: 125px;
}

.nav-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-top: 90px;
    margin-left: 100px;
    padding: 30px;   
}

.description {
    font-weight: 100;
    color: rgb(31,30, 30);
}

.steps {
    font-weight: 400;
    font-size: 20px;
}

.google {
    width: 100px;
}

.signin-btn{
    border: 1px solid grey;
    width: 250px;
    height: 200px;
    margin-left: 250px;
    text-align: center;
    padding-top: 60px;
    cursor: pointer;
}

.signin-card {
    display: flex;
}